@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

:root {
  --colordark: #880d1e;
  --colorbright: #dd2d4a;
  --colorlight: #f26a8d;
  --accent: #f49cbb;
  --other: #cbeef3;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  word-break: break-word;
  box-sizing: border-box;
  font-family: "Pinyon Script", cursive;
  box-sizing: border-box;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: var(--other);
  font-size: 1.6em;
}

body {
  overflow-y: auto;
  min-height: 100%;
  background-color: var(--colorlight);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 24px;
  height: 30%;
  width: 70%;
  background-color: var(--colordark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 2px solid var(--accent);
  border-radius: 40px;
  box-shadow: 4px 8px 0 4px var(--accent);
  text-align: center;
}

.checker {
  display: inline-flex;
  background-color: var(--colorbright);
  color: var(--other);
  border: 0;
  width: 128px;
  height: 48px;
  font-size: 1rem;

  justify-content: center;
  align-items: center;
  font-family:
    "Lora", serif; /* Kombiniert mit einer passenden Serifen-Schrift */

  text-decoration: none;
  border-radius: 8px;
}

#heart-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999999;
  overflow: hidden;
}

.heart {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(0, 0) rotate(0deg);
}

.heart.floating {
  animation-name: float;
  animation-duration: var(--dur);
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes float {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(var(--dx), var(--dy)) rotate(var(--rot));
  }
}
