:root {
	--header-h: 72px;
	--textlight: white;

	--container: rgba(59, 73, 50, 0.0001);
	--accent: rgba(59, 73, 50, 0.4);
	--highlight: rgba(255, 255, 255, 0.12);
}

html,
body {
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	word-break: break-word;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial;
	box-sizing: border-box;
	padding-top: var(--header-h);
	padding-bottom: var(--header-h);
}

body {
	overflow-y: auto;
	min-height: 100%;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
		url("../Homepage/images/background3.jpg") no-repeat center center;
	background-size: cover;
	z-index: -10;
	filter: brightness(1);
	transition: filter 0.8s ease;
}

.text {
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	color: var(--textlight);
	padding: 5px;
}

.btn {
	display: inline-block;
	padding: 10px 14px;
	border-radius: 8px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	cursor: pointer;
	background: var(--highlight);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
	height: 16px;
}

.topbar {
	position: fixed;
	max-width: 98%;
	margin: auto;
	border-radius: 20px;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--highlight);
	color: #fff;
	backdrop-filter: blur(15px);
	box-shadow: 4px 16px 20px rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.topbar .left {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	gap: 20px;
}
.brand {
	border-radius: 8px;
	background: var(--highlight);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
.topbar .controls {
	display: flex;
	padding: 20px;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

main {
	margin: auto;
	max-width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	backdrop-filter: blur(8px);
	color: var(--textlight);
	padding: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 16px;

	box-shadow: 8px 16px 8px rgba(0, 0, 0, 0.3);
}

.grid {
	height: 80px;
	width: 80%;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: auto 3fr auto;
	grid-template-columns: 3fr 1fr;
	gap: 8px 8px;
	grid-template-areas:
		"header header"
		"content media"
		"footer footer";
}

.grid .header {
	grid-area: header;
	text-align: center;
}

.grid .media {
	grid-area: media;
}

.grid .content {
	grid-area: content;
}

.grid .footer {
	grid-area: footer;
	text-align: center;
}
