:root {
  --header-h: 72px;
  --bg: #f9fafb;
  --topbar: rgba(59, 73, 50, 0.1);
  --container: rgba(59, 73, 50, 0.1);
  --accent: rgba(59, 73, 50, 0.4);
  --highlight: rgba(255, 255, 255, 0.12);
  --textlight: #ffffff;
  --textdark: #172013;
  --button: #506448;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  word-break: break-word;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  color: var(--textlight);
  box-sizing: border-box;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  padding-top: var(--header-h);
}

body {
  overflow-y: auto;
  min-height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../Homepage/images/background3.jpg") no-repeat center center;
  background-size: cover;
  z-index: -10;
}

.text {
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: var(--textlight);
  padding: 5px;
}

/* Top bar */
.topbar {
  position: fixed;
  max-width: 98%;
  margin: auto;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--highlight);
  color: #fff;
  backdrop-filter: blur(15px);
  box-shadow: 4px 16px 20px rgba(0, 0, 0, 0.3);

  z-index: 1000;
}

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  max-width: 98%;
  margin: auto;
  border-radius: 20px;
  background: var(--topbar); /* halbtransparent */
  backdrop-filter: blur(15px); /* Blur-Effekt */
  box-shadow: 4px -16px 20px rgba(0, 0, 0, 0.3); /* leichter Schatten nach oben */
  z-index: 1000; /* immer über dem Inhalt */
}

.topbar .left {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}
.brand {
  border-radius: 8px;
  background: var(--highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.topbar .controls {
  display: flex;
  padding: 20px;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

/* buttons as links */
.btn {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  background: var(--highlight);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  height: 16px;
}

.points {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-align: center;
  min-width: 120px;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-top: auto;
}

.get_to-quiz-btn {
  width: 100%;
  height: 100px;
  max-width: 250px;
  min-width: 200px;
  display: flex;
  font-size: 20px;
  border-radius: 10px;
  margin: 16px 16px;
  padding: 0 16px;
  background-color: transparent;
  color: #fff;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center; /* falls Text umbrechen darf */
}

/* page container */

.container {
  max-width: 95%;
  margin: 36px auto;
  padding: 20px;
  color: #fff;
}

.stationcontainer {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  padding: 4px;
  align-items: stretch;
  justify-content: space-around;
}

#resetQuizzes {
  margin-bottom: 10px;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 36px auto;
  padding: 36px;
  background: var(--container);
  color: var(--textlight);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  scroll-margin-top: 100px;
}

/* DROPDOWN MENÜ */

.dropbtn {
  background: url("images/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.dropcontent {
  background: var(--highlight) !important;
  position: fixed;
  top: 84px;
  left: 16px;
  z-index: 10;
  max-width: 75%;
  padding: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1010;
  transform: translateZ(0);
  opacity: 0;
}

.dropcontent.open {
  margin-top: 32px;
  display: flex;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.dropcontent a {
  display: flex;
  padding: 12px;
  color: var(--textlight);
  text-decoration: none;
  font-weight: 600;
}

/*hidden class*/

.forcehidden {
  display: none !important;
}

#AELF {
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: var(--textlight);
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.menubar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 98%;
  margin: auto;
  border-radius: 20px;
  background: var(--topbar); /* halbtransparent */
  backdrop-filter: blur(15px); /* Blur-Effekt */
  box-shadow: 4px -16px 20px rgba(0, 0, 0, 0.3); /* leichter Schatten nach oben */
  z-index: 1000; /* immer über dem Inhalt */
  padding: 16px;
}

.menubar a {
  display: block;
  width: 32px;
  height: 32px;
}

#home {
  background-image: url("images/home.png");
}

#member {
  background-image: url("images/member.png");
}

#info {
  background-image: url("images/info.png");
}

@media (max-width: 400px) {
  .topbar {
    padding: 0 12px;
  }
  .btn {
    padding: 8px 10px;
  }
  .button_container {
    grid-template-columns: 1fr; /* Buttons immer noch nebeneinander */
  }
  .second-container {
    width: 90%; /* etwas schmaler */
    padding: 12px; /* kleinere Innenabstände */
  }
  .get_to-quiz-btn {
    padding: 0 8px;
  }

  .menubar {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
  }

  .bottombar {
    display: none;
  }
}
